# IUM 25L - Projekt
Analiza danych

In [38]:
import pandas as pd

### Users

In [39]:
users = pd.read_csv("users/users.csv")
users

,id,name,surname,city,street,street_number,postal_code
0,449065179,Benedykta,Białas,Radomsko,Rybaki,250,73-281
1,29806310,Hipolit,Majewski,Nałęczów,Lubuska,432,35-782
2,176082216,Franciszka,Turowska,Mogielnica,Ajschylosa,509,91-167
3,225052416,Zbyszek,Waglewski,Konstancin-Jeziorna,Siarczanogórska,1021,68-887
4,583625490,Ola,Słowakiewicz,Łódź,Sytkowska,172,75-031
...,...,...,...,...,...,...,...
63673,22109770,Halina,Mackaewicz,Kietrz,Bobrownicka,1315,29-341
63674,400576776,Iliana,Wieczorkowska,Sulechów,Łady,1136,33-631
63675,187632320,Leokadiusz,Gogolewski,Izbica Kujawska,Rawicz-Mysłowskiego Mieczysława,112,52-273
63676,122330593,Celestyn,Glinka,Tuszyn,Młyńska Boczna,873,13-181
63677,3419287,Lech,Więcek,Lewin Brzeski,Mrzeżyńska,42,96-102

Basic information about the dataset

In [40]:
print(f"Number of records: {users.shape[0]}")
print(f"Number of attributes: {users.shape[1]}")
print("\nColumn information:")
users.info()

Number of records: 63678
Number of attributes: 7

Column information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63678 entries, 0 to 63677
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             63678 non-null  int64
 1   name           63678 non-null  object
 2   surname        63678 non-null  object
 3   city           63678 non-null  object
 4   street         63678 non-null  object
 5   street_number  63678 non-null  int64
 6   postal_code    63678 non-null  object
dtypes: int64(2), object(5)
memory usage: 3.4+ MB

Statistics for numerical columns

In [41]:
print("\nDescriptive statistics:")
users.describe().T

Descriptive statistics:

,count,mean,std,min,25%,50%,75%,max
id,63678.0,1.653834e+08,1.654927e+08,5633.0,31802792.25,102999084.5,2.513039e+08,667513874.0
street_number,63678.0,6.990593e+02,4.052032e+02,1.0,346.00,699.0,1.049750e+03,1400.0

Amount and percentage of rows dropped

In [42]:
dropped_users = users.dropna(subset=['id'])
dropped_users

,id,name,surname,city,street,street_number,postal_code
0,449065179,Benedykta,Białas,Radomsko,Rybaki,250,73-281
1,29806310,Hipolit,Majewski,Nałęczów,Lubuska,432,35-782
2,176082216,Franciszka,Turowska,Mogielnica,Ajschylosa,509,91-167
3,225052416,Zbyszek,Waglewski,Konstancin-Jeziorna,Siarczanogórska,1021,68-887
4,583625490,Ola,Słowakiewicz,Łódź,Sytkowska,172,75-031
...,...,...,...,...,...,...,...
63673,22109770,Halina,Mackaewicz,Kietrz,Bobrownicka,1315,29-341
63674,400576776,Iliana,Wieczorkowska,Sulechów,Łady,1136,33-631
63675,187632320,Leokadiusz,Gogolewski,Izbica Kujawska,Rawicz-Mysłowskiego Mieczysława,112,52-273
63676,122330593,Celestyn,Glinka,Tuszyn,Młyńska Boczna,873,13-181
63677,3419287,Lech,Więcek,Lewin Brzeski,Mrzeżyńska,42,96-102

In [43]:
total_rows = len(users)
dropped_rows = total_rows - len(dropped_users)
drop_percentage = (dropped_rows / total_rows) * 100 if total_rows > 0 else 0

print(f"Total rows in original dataset: {total_rows}")
print(f"Rows dropped due to missing 'id': {dropped_rows}")
print(f"Percentage of rows dropped: {drop_percentage:.2f}%")

Total rows in original dataset: 63678
Rows dropped due to missing 'id': 0
Percentage of rows dropped: 0.00%

### Reviews

In [44]:
reviews = pd.read_csv("reviews/reviews.csv")
reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,42515,563807,2011-09-24,997025,Dounia,"Croix is a wonderful host, very cheerful and w..."
1,42515,1296837,2012-05-17,2348546,D Corinne,This was an ideal place to stay and Croix made...
2,42515,1358497,2012-05-27,2346980,Natalia,I went to Geneva for a one week training and s...
3,42515,2365282,2012-09-21,3503874,Ela,Spent a few days with Croix and she is an abso...
4,42515,3580013,2013-02-19,4185464,Nitin,"Noelle is a fantastic host, she made me feel a..."
...,...,...,...,...,...,...
72307,1313808360361659351,1317398851155668561,2024-12-22,593879932,Pamela Caroline,J’ai adoré mon séjour chez Isa ! Elle est une ...
72308,1313808360361659351,1318040082994961354,2024-12-23,321427694,Raphael,"Vraiment super séjour, j’ai beaucoup apprécié!..."
72309,1313808360361659351,1318848921058080173,2024-12-24,321427694,Raphael,Un grand merci pour ce séjour très agréable ! ...
72310,1313808360361659351,1319517684620627355,2024-12-25,659980121,Paulo Jorge,Isa a été magnifique comme hôte et je recomman...
72311,1314416675763134591,1317343860305443284,2024-12-22,481981207,Kosovare,"Excellent, Céline est très réactive.<br/>Joli ..."

Basic information about the dataset

In [45]:
print(f"Number of records: {reviews.shape[0]}")
print(f"Number of attributes: {reviews.shape[1]}")
print("\nColumn information:")
reviews.info()

Number of records: 72312
Number of attributes: 6

Column information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72312 entries, 0 to 72311
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     72312 non-null  int64
 1   id             72312 non-null  int64
 2   date           72312 non-null  object
 3   reviewer_id    72312 non-null  int64
 4   reviewer_name  72312 non-null  object
 5   comments       72305 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.3+ MB

Statistics for numerical columns

In [46]:
print("\nDescriptive statistics:")
reviews.describe().T

Descriptive statistics:

,count,mean,std,min,25%,50%,75%,max
listing_id,72312.0,2.074621e+17,3.837994e+17,42515.0,1.173646e+07,2.609328e+07,5.370116e+07,1.314417e+18
id,72312.0,5.885498e+17,5.007632e+17,563807.0,4.574197e+08,6.918819e+17,1.057096e+18,1.321742e+18
reviewer_id,72312.0,1.624679e+08,1.648932e+08,5633.0,3.036651e+07,9.950773e+07,2.468252e+08,6.675139e+08

Amount and percentage of rows dropped

In [47]:
dropped_reviews = reviews.dropna(subset=['listing_id', 'id'])
dropped_reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,42515,563807,2011-09-24,997025,Dounia,"Croix is a wonderful host, very cheerful and w..."
1,42515,1296837,2012-05-17,2348546,D Corinne,This was an ideal place to stay and Croix made...
2,42515,1358497,2012-05-27,2346980,Natalia,I went to Geneva for a one week training and s...
3,42515,2365282,2012-09-21,3503874,Ela,Spent a few days with Croix and she is an abso...
4,42515,3580013,2013-02-19,4185464,Nitin,"Noelle is a fantastic host, she made me feel a..."
...,...,...,...,...,...,...
72307,1313808360361659351,1317398851155668561,2024-12-22,593879932,Pamela Caroline,J’ai adoré mon séjour chez Isa ! Elle est une ...
72308,1313808360361659351,1318040082994961354,2024-12-23,321427694,Raphael,"Vraiment super séjour, j’ai beaucoup apprécié!..."
72309,1313808360361659351,1318848921058080173,2024-12-24,321427694,Raphael,Un grand merci pour ce séjour très agréable ! ...
72310,1313808360361659351,1319517684620627355,2024-12-25,659980121,Paulo Jorge,Isa a été magnifique comme hôte et je recomman...
72311,1314416675763134591,1317343860305443284,2024-12-22,481981207,Kosovare,"Excellent, Céline est très réactive.<br/>Joli ..."

In [48]:
total_rows = len(reviews)
dropped_rows = total_rows - len(dropped_reviews)
drop_percentage = (dropped_rows / total_rows) * 100 if total_rows > 0 else 0

print(f"Total rows in original dataset: {total_rows}")
print(f"Rows dropped due to missing 'listing_id' or 'id': {dropped_rows}")
print(f"Percentage of rows dropped: {drop_percentage:.2f}%")

Total rows in original dataset: 72312
Rows dropped due to missing 'listing_id' or 'id': 0
Percentage of rows dropped: 0.00%

### Listings

In [49]:
listings = pd.read_csv("listings/listings.csv")
listings

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,42515,https://www.nocarz.pl/rooms/42515,20241229042300,2024-12-29,city scrape,Geneva center - Hosting females,NaN,NaN,https://a0.muscache.com/pictures/10640277/ff1d...,185647,...,4.84,4.85,4.55,NaN,f,1,0,1,0,0.49
1,203997,https://www.nocarz.pl/rooms/203997,20241229042300,2024-12-29,city scrape,Top location studio 1 block from lake!,"Spacious studio with washer/dryer, Wi-fi, supe...",This is the most sought after area in Geneva: ...,https://a0.muscache.com/pictures/14163740/9392...,1001280,...,4.99,4.96,4.81,NaN,t,2,2,0,0,0.60
2,276025,https://www.nocarz.pl/rooms/276025,20241229042300,2024-12-29,city scrape,Lovely flat by Geneva lake,This cozy flat is located in a very pleasant v...,"Versoix is a pretty fishing village, on the ed...",https://a0.muscache.com/pictures/4156456/d3aed...,1442438,...,4.89,4.77,4.68,NaN,f,1,1,0,0,0.78
3,338682,https://www.nocarz.pl/rooms/338682,20241229042300,2024-12-29,city scrape,Top location 1 block from the lake!,One bedroom apartment located in a pedestrian ...,This is the favourite area for expats in Genev...,https://a0.muscache.com/pictures/14164129/db92...,1001280,...,4.89,4.87,4.70,NaN,t,2,2,0,0,0.77
4,399388,https://www.nocarz.pl/rooms/399388,20241229042300,2024-12-29,city scrape,Nice modern bedroom with balcony,Nice modern bedroom with confortable king size...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,1994454,...,4.89,4.70,4.70,NaN,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,1318859808229991842,https://www.nocarz.pl/rooms/1318859808229991842,20241229042300,2024-12-29,city scrape,Apparemment semi-meublés,This two bedroom apartment stands out for its ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,668547423,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,1319353272672215826,https://www.nocarz.pl/rooms/1319353272672215826,20241229042300,2024-12-29,city scrape,Appart situé à la gare,2 rooms Cornavin station <br />Fully furnished...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,269431889,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,1319753554977771528,https://www.nocarz.pl/rooms/1319753554977771528,20241229042300,2024-12-29,city scrape,Apparemment douillet,"Make life easier at this peaceful, centrally l...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,650441160,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,1319753624300180036,https://www.nocarz.pl/rooms/1319753624300180036,20241229042300,2024-12-29,city scrape,appartement douillet,"Make life easier at this peaceful, centrally l...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,650441160,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,1320187730227740458,https://www.nocarz.pl/rooms/1320187730227740458,20241229042300,2024-12-29,city scrape,Cosy apartment in Genèva à 200m du Lac,Charming T2 with terrace in the heart of Genev...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,37383042,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

Basic information about the dataset

In [50]:
print(f"Number of records: {listings.shape[0]}")
print(f"Number of attributes: {listings.shape[1]}")
print("\nColumn information:")
listings.info()

Number of records: 2757
Number of attributes: 75

Column information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2757 entries, 0 to 2756
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            2757 non-null   int64
 1   listing_url                                   2757 non-null   object
 2   scrape_id                                     2757 non-null   int64
 3   last_scraped                                  2757 non-null   object
 4   source                                        2757 non-null   object
 5   name                                          2757 non-null   object
 6   description                                   2659 non-null   object
 7   neighborhood_overview                         1052 non-null   object
 8   picture_url                                   2757 non-null   object
 9   host_id                                       2757 non-null   int64
 10  host_url                                      2757 non-null   object
 11  host_name                                     2757 non-null   object
 12  host_since                                    2757 non-null   object
 13  host_location                                 2240 non-null   object
 14  host_about                                    1332 non-null   object
 15  host_response_time                            2015 non-null   object
 16  host_response_rate                            2015 non-null   object
 17  host_acceptance_rate                          2309 non-null   object
 18  host_is_superhost                             2726 non-null   object
 19  host_thumbnail_url                            2757 non-null   object
 20  host_picture_url                              2757 non-null   object
 21  host_neighbourhood                            27 non-null     object
 22  host_listings_count                           2757 non-null   int64
 23  host_total_listings_count                     2757 non-null   int64
 24  host_verifications                            2757 non-null   object
 25  host_has_profile_pic                          2757 non-null   object
 26  host_identity_verified                        2757 non-null   object
 27  neighbourhood                                 1052 non-null   object
 28  neighbourhood_cleansed                        2757 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      2757 non-null   float64
 31  longitude                                     2757 non-null   float64
 32  property_type                                 2757 non-null   object
 33  room_type                                     2757 non-null   object
 34  accommodates                                  2757 non-null   int64
 35  bathrooms                                     2067 non-null   float64
 36  bathrooms_text                                2756 non-null   object
 37  bedrooms                                      2550 non-null   float64
 38  beds                                          2063 non-null   float64
 39  amenities                                     2757 non-null   object
 40  price                                         2068 non-null   object
 41  minimum_nights                                2757 non-null   int64
 42  maximum_nights                                2757 non-null   int64
 43  minimum_minimum_nights                        2757 non-null   int64
 44  maximum_minimum_nights                        2757 non-null   int64
 45  minimum_maximum_nights                        2757 non-null   int64
 46  maximum_maximum_nights                        2757 non-null   int64
 47  minimum_nights_avg_ntm                        2757 non-null   float64
 48  maximum_nights_avg_ntm                        2757 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              2683 non-null   object
 51  availability_30                               2757 non-null   int64
 52  availability_60                               2757 non-null   int64
 53  availability_90                               2757 non-null   int64
 54  availability_365                              2757 non-null   int64
 55  calendar_last_scraped                         2757 non-null   object
 56  number_of_reviews                             2757 non-null   int64
 57  number_of_reviews_ltm                         2757 non-null   int64
 58  number_of_reviews_l30d                        2757 non-null   int64
 59  first_review                                  2081 non-null   object
 60  last_review                                   2081 non-null   object
 61  review_scores_rating                          2081 non-null   float64
 62  review_scores_accuracy                        2081 non-null   float64
 63  review_scores_cleanliness                     2081 non-null   float64
 64  review_scores_checkin                         2081 non-null   float64
 65  review_scores_communication                   2081 non-null   float64
 66  review_scores_location                        2081 non-null   float64
 67  review_scores_value                           2081 non-null   float64
 68  license                                       1 non-null      object
 69  instant_bookable                              2757 non-null   object
 70  calculated_host_listings_count                2757 non-null   int64
 71  calculated_host_listings_count_entire_homes   2757 non-null   int64
 72  calculated_host_listings_count_private_rooms  2757 non-null   int64
 73  calculated_host_listings_count_shared_rooms   2757 non-null   int64
 74  reviews_per_month                             2081 non-null   float64
dtypes: float64(17), int64(23), object(35)
memory usage: 1.6+ MB

Statistics for numerical columns

In [51]:
print("\nDescriptive statistics:")
listings.describe().T

Descriptive statistics:

,count,mean,std,min,25%,50%,75%,max
id,2757.0,5.713685e+17,5.283351e+17,4.251500e+04,3.443725e+07,6.926612e+17,1.075261e+18,1.320188e+18
scrape_id,2757.0,2.024123e+13,0.000000e+00,2.024123e+13,2.024123e+13,2.024123e+13,2.024123e+13,2.024123e+13
host_id,2757.0,1.794862e+08,1.919876e+08,6.783700e+04,1.776888e+07,9.446290e+07,2.737343e+08,6.685474e+08
host_listings_count,2757.0,3.521545e+01,9.560836e+01,1.000000e+00,1.000000e+00,2.000000e+00,5.000000e+00,3.940000e+02
host_total_listings_count,2757.0,4.677983e+01,1.207214e+02,1.000000e+00,1.000000e+00,3.000000e+00,7.000000e+00,4.470000e+02
neighbourhood_group_cleansed,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,2757.0,4.620714e+01,1.972549e-02,4.614243e+01,4.619667e+01,4.620567e+01,4.621263e+01,4.635168e+01
longitude,2757.0,6.144963e+00,2.480122e-02,5.973910e+00,6.133790e+00,6.145190e+00,6.155490e+00,6.273080e+00
accommodates,2757.0,2.642728e+00,1.503393e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,1.500000e+01
bathrooms,2067.0,1.179245e+00,4.908848e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.500000e+00
bedrooms,2550.0,1.243137e+00,8.274552e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
beds,2063.0,1.554048e+00,1.071572e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.200000e+01
minimum_nights,2757.0,8.474791e+00,4.299344e+01,1.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,1.100000e+03
maximum_nights,2757.0,4.261581e+02,4.067376e+02,1.000000e+00,3.800000e+01,3.650000e+02,5.000000e+02,1.200000e+03
minimum_minimum_nights,2757.0,7.759521e+00,4.170338e+01,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,1.100000e+03
maximum_minimum_nights,2757.0,8.636924e+00,4.213541e+01,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,1.100000e+03
minimum_maximum_nights,2757.0,5.557548e+02,4.530387e+02,1.000000e+00,9.000000e+01,3.650000e+02,1.125000e+03,1.200000e+03
maximum_maximum_nights,2757.0,5.774628e+02,4.515392e+02,1.000000e+00,9.900000e+01,3.650000e+02,1.125000e+03,1.200000e+03
minimum_nights_avg_ntm,2757.0,8.317991e+00,4.192604e+01,1.000000e+00,1.000000e+00,3.000000e+00,4.600000e+00,1.100000e+03
maximum_nights_avg_ntm,2757.0,5.706972e+02,4.490267e+02,1.000000e+00,9.900000e+01,3.650000e+02,1.125000e+03,1.200000e+03
calendar_updated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
availability_30,2757.0,1.281320e+01,1.229672e+01,0.000000e+00,0.000000e+00,1.000000e+01,2.700000e+01,3.000000e+01
availability_60,2757.0,2.740624e+01,2.482561e+01,0.000000e+00,0.000000e+00,2.600000e+01,5.500000e+01,6.000000e+01
availability_90,2757.0,4.308487e+01,3.766778e+01,0.000000e+00,0.000000e+00,4.700000e+01,8.400000e+01,9.000000e+01
availability_365,2757.0,1.440025e+02,1.373085e+02,0.000000e+00,1.000000e+00,9.000000e+01,2.690000e+02,3.650000e+02
number_of_reviews,2757.0,2.622851e+01,5.769636e+01,0.000000e+00,1.000000e+00,6.000000e+00,2.500000e+01,8.840000e+02
number_of_reviews_ltm,2757.0,6.544432e+00,1.424067e+01,0.000000e+00,0.000000e+00,1.000000e+00,7.000000e+00,1.670000e+02
number_of_reviews_l30d,2757.0,3.935437e-01,1.091264e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.300000e+01
review_scores_rating,2081.0,4.735214e+00,3.845453e-01,1.000000e+00,4.650000e+00,4.850000e+00,5.000000e+00,5.000000e+00
review_scores_accuracy,2081.0,4.766535e+00,3.839779e-01,1.000000e+00,4.700000e+00,4.880000e+00,5.000000e+00,5.000000e+00
review_scores_cleanliness,2081.0,4.717967e+00,4.043822e-01,1.000000e+00,4.630000e+00,4.830000e+00,5.000000e+00,5.000000e+00
review_scores_checkin,2081.0,4.816338e+00,3.438892e-01,1.000000e+00,4.790000e+00,4.920000e+00,5.000000e+00,5.000000e+00
review_scores_communication,2081.0,4.807871e+00,3.626918e-01,1.000000e+00,4.770000e+00,4.930000e+00,5.000000e+00,5.000000e+00
review_scores_location,2081.0,4.792946e+00,3.261770e-01,1.000000e+00,4.730000e+00,4.880000e+00,5.000000e+00,5.000000e+00
review_scores_value,2081.0,4.618933e+00,4.308944e-01,1.000000e+00,4.500000e+00,4.710000e+00,4.890000e+00,5.000000e+00
calculated_host_listings_count,2757.0,1.804897e+01,4.518974e+01,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00,1.750000e+02
calculated_host_listings_count_entire_homes,2757.0,1.663076e+01,4.479012e+01,0.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.750000e+02
calculated_host_listings_count_private_rooms,2757.0,1.340225e+00,3.341848e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.500000e+01
calculated_host_listings_count_shared_rooms,2757.0,4.715270e-03,7.839718e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
reviews_per_month,2081.0,1.046814e+00,1.493456e+00,1.000000e-02,1.800000e-01,4.900000e-01,1.260000e+00,1.318000e+01

Amount and percentage of rows dropped

In [52]:
dropped_listings = listings.dropna(subset=['id', 'host_id'])
dropped_listings

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,42515,https://www.nocarz.pl/rooms/42515,20241229042300,2024-12-29,city scrape,Geneva center - Hosting females,NaN,NaN,https://a0.muscache.com/pictures/10640277/ff1d...,185647,...,4.84,4.85,4.55,NaN,f,1,0,1,0,0.49
1,203997,https://www.nocarz.pl/rooms/203997,20241229042300,2024-12-29,city scrape,Top location studio 1 block from lake!,"Spacious studio with washer/dryer, Wi-fi, supe...",This is the most sought after area in Geneva: ...,https://a0.muscache.com/pictures/14163740/9392...,1001280,...,4.99,4.96,4.81,NaN,t,2,2,0,0,0.60
2,276025,https://www.nocarz.pl/rooms/276025,20241229042300,2024-12-29,city scrape,Lovely flat by Geneva lake,This cozy flat is located in a very pleasant v...,"Versoix is a pretty fishing village, on the ed...",https://a0.muscache.com/pictures/4156456/d3aed...,1442438,...,4.89,4.77,4.68,NaN,f,1,1,0,0,0.78
3,338682,https://www.nocarz.pl/rooms/338682,20241229042300,2024-12-29,city scrape,Top location 1 block from the lake!,One bedroom apartment located in a pedestrian ...,This is the favourite area for expats in Genev...,https://a0.muscache.com/pictures/14164129/db92...,1001280,...,4.89,4.87,4.70,NaN,t,2,2,0,0,0.77
4,399388,https://www.nocarz.pl/rooms/399388,20241229042300,2024-12-29,city scrape,Nice modern bedroom with balcony,Nice modern bedroom with confortable king size...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,1994454,...,4.89,4.70,4.70,NaN,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,1318859808229991842,https://www.nocarz.pl/rooms/1318859808229991842,20241229042300,2024-12-29,city scrape,Apparemment semi-meublés,This two bedroom apartment stands out for its ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,668547423,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,1319353272672215826,https://www.nocarz.pl/rooms/1319353272672215826,20241229042300,2024-12-29,city scrape,Appart situé à la gare,2 rooms Cornavin station <br />Fully furnished...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,269431889,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,1319753554977771528,https://www.nocarz.pl/rooms/1319753554977771528,20241229042300,2024-12-29,city scrape,Apparemment douillet,"Make life easier at this peaceful, centrally l...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,650441160,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,1319753624300180036,https://www.nocarz.pl/rooms/1319753624300180036,20241229042300,2024-12-29,city scrape,appartement douillet,"Make life easier at this peaceful, centrally l...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,650441160,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,1320187730227740458,https://www.nocarz.pl/rooms/1320187730227740458,20241229042300,2024-12-29,city scrape,Cosy apartment in Genèva à 200m du Lac,Charming T2 with terrace in the heart of Genev...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,37383042,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [53]:
total_rows = len(listings)
dropped_rows = total_rows - len(dropped_listings)
drop_percentage = (dropped_rows / total_rows) * 100 if total_rows > 0 else 0

print(f"Total rows in original dataset: {total_rows}")
print(f"Rows dropped due to missing 'id' or 'host_id': {dropped_rows}")
print(f"Percentage of rows dropped: {drop_percentage:.2f}%")

Total rows in original dataset: 2757
Rows dropped due to missing 'id' or 'host_id': 0
Percentage of rows dropped: 0.00%